.menu {
  background: #fff;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px 0 30px 30px;
  border-right: 1px solid #bbb;
  box-shadow: 0 0 20px #ccc;
}
a.toc_title, a.toc_title:visited {
  display: block;
  font-weight: bold;
  margin-top: 15px;
  text-decoration: underline;
}
ul.toc_section {
  list-style-type: none;  
}

.content {
  position: relative;
  width: 550px;
  margin: 40px 0 50px 100px;
}
p {
  margin: 25px 0;
  width: 550px;
}

